
<h1>Listing libraries</h1>
<%= link_to 'New library', new_library_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @libraries.each do |library| %>
    <tr>
      <td><%= library.name %></td>
      <td><%= library.description %></td>
      <td><%= link_to 'Show', library_path(library) %></td>
      <td><%= link_to 'Edit', edit_library_path(library) %></td>
    </tr>
  <% end %>
</table>
